.App {
  text-align: center;
  
}
#root {
  color: #312f2f;
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cartImg{
  max-width: 35px;
  max-width: 35px;
} 
button {
  border-radius: 80%;
  background-color: #BBADFF ;
  color: #000000;
  font-weight: bold;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

span {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}
.card-img-top{
 
  position: relative;
  
}
.stars {
  background-color: rgb(238, 236, 236);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  margin-top: 15%;
  margin-left: 60%;
  animation-duration: 1s;
  animation-name: twinkle;
}

.star-2 {
  margin-top: 25%;
  margin-left: 25%;
  animation-duration: 0.9s;
  animation-name: twinkle;
}

.star-3 {
  margin-top: 10%;
  margin-left: 50%;
  animation-duration: 1.1s;
  animation-name: twinkle;
}

@keyframes twinkle {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

#back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ADA7FF, #BBADFF, #CBB2FE, #DAB6FC, #DDBDFC);
}
body {
  background: linear-gradient(#ADA7FF, #BBADFF, #CBB2FE, #DAB6FC, #DDBDFC);
 
}
.back2{
  background-color: #8010f0;
}